@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
  
  .dark {
    --background: #000000;
    --foreground: #ffffff;
  }
}

/* Base Styles */
@layer base {
  html, body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }

  body {
    @apply bg-background text-foreground overflow-x-hidden antialiased;
  }
}

